body {
    background-color: #fafafa;
    margin: 0;
}

header {
    background-color: #ffffff;
    box-shadow: 0.4em 0.4em 10px 3px #f0f0f0;
}

#wrapper {
    margin: auto;
    width: 936px;
}

.logo_class {
    display: inline;
}

.logo {
    padding: 15px 100px 35px 70px;
    /* background: rgb(81, 81, 189); */
}

.profile {
    height: 200px;
    width: 626px;
    float: right;
    font-family: MyriadProRegular;
    font-size: 35px;
    /* background: goldenrod; */
}

.start_date {
    font-family: HelveticaRegular;
    color: #4090db;
    font-size: 15pt;
    border-style: solid;
    margin-left: 15px;
    border-width: 1px;
    padding: 10px;
    border-radius: 5px;
}

.statistic {
    font-family: Proxima-Nova-Regular;
    font-size: 17pt;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline;
    padding: 5px;
    margin-right: 5px;
}

/* .figures {
    font-family: Proxima-Nova-Bold;
    font-size: 17pt;
}  */

.content {
    width: 936px;
    margin: auto;
    margin-top: 70px;
    height: 1146px;
    /* background: forestgreen; */
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

main>img {
    height: 292;
    width: 292;
}

.button {
    margin-top: 70px;
    text-align: center;
    font-family: Proxima-Nova-Regular;
    font-size: 12pt;
}

.button>a {
    text-decoration: none;
    color: #000;
    border-style: solid;
    margin-left: 15px;
    border-width: 1px;
    padding: 10px 30px;
    border-radius: 20px;
}